[Desktop Entry]
Name=Simple Wallpaper Engine
Comment=A modern GUI for linux-wallpaperengine
Exec=/usr/bin/env simple-wallpaper-engine
Icon=preferences-desktop-wallpaper
Terminal=false
Type=Application
Categories=Utility;Settings;DesktopSettings;Qt;
Keywords=wallpaper;engine;background;steam;
StartupNotify=true
